<%- include('partials/header'); %>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="composeInput" class="form-label">Title</label>
    <input type="text" class="form-control" name="composeInput" />
    <label for="post">Post</label>
    <textarea name="post" class="form-control" cols="30" rows="5"></textarea>
  </div>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); %>
